:root {
  --primary: #ffe4cb;
  --secondary: #cc3550;
}

body {
  background-color: var(--primary)
}

  .container-fluid {
    border: solid blue;
    width: 100%;
  }

  .row {
    border: solid yellow;
  }

  .row div {
    border: solid red;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: bold;
  }

  h2 {
    font-family: 'Crimson Pro', serif;
    font-size: 64px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: var(--secondary);
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: var(--secondary);
  }

  h5 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  }

  h6 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: white;
  }

  #navbar {
    background-color: var(--secondary);
    
  }

  .margin {
    margin-left: 12em;
    margin-right: 12em;
  }

  @media only screen and (max-width: 960px) {

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 52px;
      font-weight: bold;
    }
  
    h2 {
      font-family: 'Crimson Pro', serif;
      font-size: 42px;
    }
  
    h3 {
      font-family: 'Lato', sans-serif;
      font-size: 52px;
      font-weight: bold;
      color: var(--secondary);
    }
  
    h4 {
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      color: var(--secondary);
    }
  
    h5 {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
    }
  
    h6 {
      font-family: 'Lato', sans-serif;
      font-size: 26px;
      color: white;
    }

    .margin {
      margin-left: 6em;
      margin-right: 6em;
    }
  }


