:root {
  --primary: #ffe4cb;
  --secondary: #cc3550;
}

body {
  background-color: var(--primary)
}

  .container-fluid {
    border: solid blue;
    width: 100%;
  }

  .row {
    border: solid yellow;
  }

  .row div {
    border: solid red;
  }

  /*---FONTS---*/

  h1 {
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: fff;
  }

  h2 {
    font-family: 'Crimson Pro', serif;
    font-size: 64px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: var(--secondary);
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: var(--secondary);
  }

  h5 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
  }

  h6 {
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    color: white;
  }

  #navbar {
    background-color: var(--secondary);
    
  }

  .margin {
    margin-left: 12em;
    margin-right: 12em;
  }


/*---HERO VIDEO---*/

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.content {
  text-align: center;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 15px;
  margin-top: 20px;
}

.content h1 {
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
}

.content h2 {
  font-family: 'Crimson Pro', serif;
  font-size: 64px;
  color: #fff;
}

.back-video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}




  @media only screen and (max-width: 960px) {

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 52px;
      font-weight: bold;
    }
  
    h2 {
      font-family: 'Crimson Pro', serif;
      font-size: 42px;
    }
  
    h3 {
      font-family: 'Lato', sans-serif;
      font-size: 52px;
      font-weight: bold;
      color: var(--secondary);
    }
  
    h4 {
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      color: var(--secondary);
    }
  
    h5 {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
    }
  
    h6 {
      font-family: 'Lato', sans-serif;
      font-size: 26px;
      color: white;
    }

    .margin {
      margin-left: 6em;
      margin-right: 6em;
    }
  }


